<md-dialog aria-label="Mango (Fruit)" style="width:800px;">
<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
	<form name="editForm" style="width:100%;" novalidate>
		<md-content flex>
		<div layout="row" style="margin-left:9px; width:750px;">
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_c_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex style="margin-top:25px;">
				<label style="font-weight:700">Custom Fields for Profile</label>
			</div>
		</div>
		<div layout layout-sm="column" layout-margin>
			<md-input-container flex="30">
			<label>Select Field Type</label>
			<md-select name="type" ng-model="type" required>
			<md-option value="textBox">Text box</md-option>
			<md-option value="selectBox">select box</md-option>
		</md-select>
	</md-input-container>
</div>

<div layout layout-sm="column" layout-margin ng-show="type=='selectBox'" >
	<div layout="row" flex layout-margin>
		<md-input-container flex>
		<label>title to be shown</label>
		<input name="labelshown" ng-model="labelshown" type="text" required>
	</md-input-container>
	<div flex>
		<md-chips ng-model="fields" readonly="false" placeholder="Enter more" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Fields" required>
	</md-chips>
	<input type="hidden" ng-model="company.input[i].id" ng-init="company.input[i].id=i">
</div>
</div>
<div flex="20" layout="row" layout-align="center center" style="font-size:13px;margin-top:-11px;">
	<md-checkbox ng-model="checkShowPdf" aria-label="Checkbox 1">Show on PDF</md-checkbox>
</div>
</div>

<div layout layout-sm="column" layout-margin ng-show="type=='textBox'">
	<md-input-container flex>
	<label>label to be shown</label>
	<input name="labelshown" ng-model="labelshown" type="text" required>
</md-input-container>
<!-- <md-input-container flex>
<label>default text</label>
<input ng-model="textBoxFields" type="{{inputType}}">
</md-input-container> -->
<md-input-container flex>
<label>Type</label>
<md-select ng-model="inputType">
<md-option value="number">Numbers</md-option>
<md-option value="text">Text</md-option>
<md-option value="email">Email</md-option>
</md-select>
</md-input-container>
<!-- <input type="hidden" ng-model="company.input[i].id" ng-init="company.input[i].id=i"> -->
<div flex="20" flex-sm="30" layout="row" layout-align="start center" style="font-size:12px;">
	<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">Show on PDF</md-checkbox>
</div>
</div>

</md-content>
</form>
</div>
<div class="md-actions" layout="row">
	<span flex></span>
	<md-button ng-click="cancel()" style="margin-right:20px;" >
	Cancel
</md-button>
<md-button ng-click="submit()" ng-disabled="editForm.$invalid">
Add
</md-button>
</div>
</md-dialog>