<form id="form" name="editForm">
	<md-content style="overflow:hidden;">
	<md-divider></md-divider>
	<md-list style="margin-top: 20px;">

	<div layout-gt-sm="column" style="padding:0px 0px 10px;">
		<div flex style="padding: 4px 10px 0px;"><p>Customer Custom Fields</p></div>
		<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
			<div ng-repeat="item in $root.Settings12thdoor.preference.contactpref.customerCusFiel" as-sortable-item flex>
				<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
				<md-card-content>
				<div layout="row">
					<div flex>
						<span style="color:#808080;font-size:15px;">{{item.labelshown}}
							<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
						</span>
					</div>
					<div flex>
						<span style="color:#808080;font-size:15px;">{{item.type}}
							<md-tooltip md-direction="right">Fields Type</md-tooltip>
						</span>
					</div>
					<div flex>
						<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
						<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
						<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
					</md-button>
					<md-menu-content width="4">
					<md-menu-item>
					<md-button ng-click="editcustomercusFieldscontactrow(item , $event)">
					<p>Edit</p>
					<md-icon md-menu-align-target ></md-icon>
				</md-button>
			</md-menu-item>
			<md-menu-item>
			<md-button ng-click="deletcustomercusfieldscontact(item, $index)">
			<p>Delete</p>
			<md-icon md-menu-align-target ></md-icon>
		</md-button>
	</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addcustomercusfieldsContact($event)">
	Add Customer Custom Fields
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addcustomercusfieldsContact($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addcustomercusfieldsContact($event)" >Add Customer Custom Fields</md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Supplier Custom Fields</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.contactpref.supplierCusFiel" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.labelshown}}
						<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.type}}
						<md-tooltip md-direction="right">Fields Type</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editsuppliercusFieldscontactrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deletsuppliercusfieldscontact(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addsuppliercusfieldsContact($event)">
	Add Supplier Custom Fields
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addsuppliercusfieldsContact($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addsuppliercusfieldsContact($event)">Add Supplier Custom Fields</md-button>
<p></p>
</md-list-item>

</md-list>
</md-content>
</form>