<form id="form" name="editForm">
	<md-content style="overflow:hidden;">
	<md-divider></md-divider>
	<md-list style="margin-top: 20px; margin-bottom: 20px;">

	<md-list-item class="secondary-button-padding">
	<p>Credit Note Prefix</p>
	<md-input-container md-no-float class="md-block" flex="40">
	<input type="text" ng-model="$root.Settings12thdoor.preference.creditNotepref.creditNotePrefix"  placeholder="Credit Note Prefix">
</md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
<p>Credit Note Sequence</p>
<md-input-container md-no-float class="md-block" flex="40">
<input type="text" ng-model="$root.Settings12thdoor.preference.creditNotepref.creditNotesequence" placeholder="Credit Note Sequence">
</md-input-container>
</md-list-item>

</md-list>
</md-content>
</form>