<md-dialog aria-label="Mango (Fruit)" style="width:800px;">
<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
	<form style="width:100%;">
		<md-content flex>
		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_a_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Add/Edit Role</label>
			</div>
			<md-input-container flex="40" style="margin-top: 17px;">
			<label>Role Name</label>
			<input ng-model="Settings12thdoor.rolename">
		</md-input-container>
	</div>

	<md-divider></md-divider>

	<div layout layout-margin>
		<div flex="20"><span>Modules</span></div>
		<div flex layout="row" layout-align="center center"><span>View</span></div>
		<div flex layout="row" layout-align="center center"><span>Add</span></div>
		<div flex layout="row" layout-align="center center"><span>Edit</span></div>
		<div flex layout="row" layout-align="center center"><span>Cancel</span></div>
		<div flex layout="row" layout-align="center center"><span>Delete</span></div>
	</div>

	<div  layout layout-margin ng-repeat="app in Settings12thdoor.appPermission">
		<div flex="20" layout="row" layout-align="start center"><label>{{app.appName}}</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox  ng-model="app.view" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox  ng-model="app.add" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox ng-model="app.edit" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox ng-model="app.cancel" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"><md-checkbox ng-model="app.deletee" class="md-primary">
		</md-checkbox></div>
	</div>

	<md-divider></md-divider>
	<div layout layout-margin>
		<div flex="20"><span>Other Functions</span></div>
		<div flex layout="row" layout-align="center center"><span>Allow</span></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
	</div>
	<div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Dashboard</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="i" class="md-primary">
		</md-checkbox></div>
		<!-- <div flex hide-sm> -->
		<div flex></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
	</div>
	<!-- <div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Induvidual Reports</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="j" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div> -->
	<div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Settings</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="k" class="md-primary">
		</md-checkbox></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
		<div flex></div>
	</div>
	<!-- <div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Log Time</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="l" class="md-primary">
		</md-checkbox></div>
		<div flex hide-sm>
		</div>
	</div> -->
	<div layout layout-margin>
		<div flex="20" layout="row" layout-align="start center"><label>Customize</label></div>
		<div flex layout="row" layout-align="center center"><md-checkbox md-no-ink ng-model="l" class="md-primary">
		</md-checkbox></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
		<div flex layout="row" layout-align="center center"></div>
	</div>
</md-content>
</form>
</div>
<div class="md-actions" layout="row">
	<span flex></span>
	<md-button ng-click="cancel()" style="margin-right:20px;" >
	Cancel
</md-button>
<md-button ng-click="submit(Settings12thdoor)" >
Add
</md-button>
</div>
</md-dialog>