<form id="form" name="editForm" novalidate>
	<md-content style="overflow:hidden;">
	<md-divider></md-divider>
	<md-list style="margin-top: 20px; margin-bottom: 20px;">
	<md-list-item class="secondary-button-padding">
	<p>Estimate Prefix</p>
	<md-input-container md-no-float class="md-block" flex="40">
	<input type="text" name="estimatePrefix" ng-model="$root.Settings12thdoor.preference.estimatepref.estimatePrefix"  placeholder="Estimate Prefix" maxlength="3" required>
	<div ng-messages="editForm1.estimatePrefix.$error">
		<div ng-message="required">This is required.</div>
	</div>
</md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
<p>Estimate Sequence</p>
<md-input-container md-no-float class="md-block" flex="40">
<input type="text" name="estimatesequence" ng-model="$root.Settings12thdoor.preference.estimatepref.estimatesequence" placeholder="Estimate Sequence" minlength="0" ng-pattern="/^[0-9]+$/" required>
<div ng-messages="editForm.estimatesequence.$error" role="alert">
	<div ng-message-exp="['required', 'minlength' , 'pattern']">
		Invalid number
	</div>
</div>
</md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
<p>Default Validity</p>
<md-input-container flex="40">
<label></label>
<md-select ng-model="$root.Settings12thdoor.preference.estimatepref.defaultvalidity" required>
<md-option>7 Days</md-option>
<md-option>14 Days</md-option>
<md-option>30 Days</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
<p>Display ship to address on Estimate</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.displayshiptoaddressestimate" aria-label="Switch 1">
</md-switch>
</md-list-item>

<md-divider></md-divider>

<md-list-item class="secondary-button-padding">
<p>Enable Discounts</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.enableDisscounts" aria-label="Switch 1" ng-init="$root.Settings12thdoor.preference.estimatepref.enableDisscounts=true" required>
</md-switch>
</md-list-item>
<md-list-item ng-show="$root.Settings12thdoor.preference.estimatepref.enableDisscounts">
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.preference.estimatepref.disscountItemsOption" required>
<md-option selected>Individual Items</md-option>
<md-option>SubTotal Items</md-option>
</md-select>
</md-input-container>
</md-list-item>
<md-divider></md-divider>

<md-list-item class="secondary-button-padding">
<p>Enable Shipping</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.enableshipping" aria-label="Switch 1">
</md-switch>
</md-list-item>

<md-divider></md-divider>

<md-list-item class="secondary-button-padding">
<div layout-gt-sm="column" flex>
	<p>Send PDF Estimate as attachment</p>
	<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">If not selected, customer can view online via email link</p>
</div>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.sendpdfestimateAsattachment" aria-label="Switch 1">
</md-switch>
</md-list-item>

<md-list-item class="secondary-button-padding">
<p>Notify admin when viewed or accepted</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.nofifyadminwhenviewedOraccepted" aria-label="Switch 1">
</md-switch>
</md-list-item>

<md-list-item class="secondary-button-padding">
<p>Copy Admin for all estimates</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.copyadminforallestimate" aria-label="Switch 1">
</md-switch>
</md-list-item>
<md-divider></md-divider>

<md-list-item>
<div layout="column" flex>
	<p>Default comment (top of Estimate)</p>
	<div style="margin-top: -14px; margin-left:0px;">
		<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="color: rgba(0,0,0,0.54);">Copy from invoice</md-checkbox>
	</div>
</div>
</md-list-item>
<md-list-item>
<md-input-container md-no-float class="md-block" flex>
<input type="text" ng-model="$root.Settings12thdoor.preference.estimatepref.defaultcomment" placeholder="Default Comment">
</md-input-container>
</md-list-item>

<md-list-item>
<div layout="column" flex>
	<p>Default note (bottom of estimate)</p>
	<div style="margin-top: -14px; margin-left:0px;">
		<md-checkbox ng-model="data.cb2" aria-label="Checkbox 1" style="color: rgba(0,0,0,0.54);">Copy from invoice</md-checkbox>
	</div>
</div>
</md-list-item>
<md-list-item>
<md-input-container flex>
<textarea ng-model="$root.Settings12thdoor.preference.estimatepref.dafultnote" columns="1" md-maxlength="150"></textarea>
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Custom Fields</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.estimatepref.CusFiel" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.labelshown}}
						<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.type}}
						<md-tooltip md-direction="right">Fields Type</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editestimatecusFieldsrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deleteestimatecusfieldsrow(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addcusfieldsEstimate($event)">
	Add custom fields
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addcusfieldsEstimate($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addcusfieldsEstimate($event)">Add custom fields</md-button>
<p></p>
</md-list-item>
<md-divider></md-divider>
<md-list-item>
<p>Email customer upon saving estimate</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.emailcustomeruponsavingestimate" ng-init="$root.Settings12thdoor.preference.estimatepref.emailcustomeruponsavingestimate=true" aria-label="Switch 1">
</md-switch>
</md-list-item>

<md-list-item ng-show="$root.Settings12thdoor.preference.estimatepref.emailcustomeruponsavingestimate">
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.preference.estimatepref.emailcustomeroption">
<md-option selected>Display pop up and prompt</md-option>
<md-option>Send email in background</md-option>
</md-select>
</md-input-container>
</md-list-item>
<md-divider></md-divider>

<md-list-item>
<p>Include product brochures in customer email</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.estimatepref.includeproductbrochurescustomeremail" aria-label="Switch 1">
</md-switch>
</md-list-item>

</md-list>
</md-content>
</form>