	<md-content style="overflow:hidden;">
	<form name="editForm">
		<md-divider></md-divider>
		<md-list style="margin-top: 20px; margin-bottom: 20px;">
		<md-list-item>
		<p>Invoice Prefix</p>
		<md-input-container md-no-float class="md-block" flex="40">
		<input type="text" name="invoicePrefix" ng-model="$root.Settings12thdoor.preference.invoicepref.invoicePrefix"  placeholder="Invoice Prefix" maxlength="3" required>
		<div ng-messages="editForm.invoicePrefix.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
<div layout-gt-sm="column" flex>
	<p>Invoice Sequence</p>
	<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">To update your name or email address. Please edit your personal profile</p>
	<!-- <md-button class="md-secondary" ng-click="enter()">Set Sequence</md-button> -->
</div>
<div flex="40">
	<md-input-container md-no-float class="md-block" flex-gt-sm>
	<input type="text" name="invoicesequence" ng-model="$root.Settings12thdoor.preference.invoicepref.invoicesequence"  placeholder="Invoice Sequence"  minlength="0" ng-pattern="/^[0-9]+$/" required>
	<div ng-messages="editForm.invoicesequence.$error" role="alert">
		<div ng-message-exp="['required', 'minlength' , 'pattern']">
			Invalid number
		</div>
	</div>
</md-input-container>
<md-button class="md-icon-button md-secondary">
<md-icon md-svg-icon="img/ic_settings_24px.svg" style="margin-bottom: 2px;"></md-icon>
<md-tooltip md-direction="left">Click, To Set Sequence</md-tooltip>
</md-button>
</div>
</md-list-item>

<md-list-item>
<p>Default Payment Terms</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.preference.invoicepref.defaultPaymentTerms" placeholder="Default Payment Terms">
<md-option>Due on Receipt</md-option>
<md-option >Net 7 days</md-option>
<md-option>Net 14 days</md-option>
<md-option>Net 30 days</md-option>
<md-option>Net 45 days</md-option>
<md-option>Net 60 days</md-option>
<md-option>Custom</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item>
<p>Allow Partial Payments</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.allowPartialPayments">
</md-switch>
</md-list-item>

<md-divider></md-divider>

<md-list-item>
<p>Enable Discounts</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.enableDisscounts" ng-init="$root.Settings12thdoor.preference.invoicepref.enableDisscounts=true" aria-label="Switch 1" required>
</md-switch>
</md-list-item>

<md-list-item ng-if="$root.Settings12thdoor.preference.invoicepref.enableDisscounts"><!-- when disscount enable this input Display -->
<md-input-container flex="40" >
<md-select ng-model="$root.Settings12thdoor.preference.invoicepref.disscountItemsOption">
<md-option>Individual Items</md-option>
<md-option>SubTotal Items</md-option>
</md-select>
</md-input-container>
</md-list-item>
<!--new update-->
<md-divider></md-divider>

<md-list-item>
<p>Enable Taxes</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.enableTaxes" required></md-switch>
</md-list-item> 

<md-list-item>
<p>Enable Shipping</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.enableshipping"></md-switch>
</md-list-item>

<md-list-item>
<p>Display ship to address on invoice</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.displayshipaddress" >
</md-switch>
</md-list-item>

<md-divider></md-divider>

<md-list-item>
<div layout="column" flex>
	<p>Send PDF Invoice as attachment</p>
	<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">If not selected, customer can view online via email link</p>
</div>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.pdfinvoiceattachment">
</md-switch>
</md-list-item>

<md-list-item>
<p>Notify admin when invoice is viewed</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.notifyadminwheninvoiceviewed">
</md-switch>
</md-list-item>

<md-list-item>
<p>Copy Admin for all invoices</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.copyadminallinvoices">
</md-switch>
</md-list-item>

<md-list-item>
<div layout="column" flex>
	<p>Enable thank you email for receipts</p>
	<div style="margin-top: -14px; margin-left:0px;">
		<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="color: rgba(0,0,0,0.54);">Copy Admin</md-checkbox>
	</div>
</div>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.enabletnkuemailforrecipt">
</md-switch>
</md-list-item>

<md-list-item>
<div layout="column" flex>
	<p>Enable reminders for overdue invoices</p>
	<div style="margin-top: -14px; margin-left:0px;">
		<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="color: rgba(0,0,0,0.54);">Copy Admin</md-checkbox>
	</div>
</div>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.enableremindersoverdueinvoices">
</md-switch>
</md-list-item>

<md-list-item style="margin-bottom: 15px;">
<p>Reminder interval in days</p>
<md-input-container flex="40" md-no-float class="md-block">
<input type="text" ng-model="$root.Settings12thdoor.preference.invoicepref.ReminderDays" placeholder="Reminder interval in days">
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<md-list-item>
<div layout="column" flex>
	<p>Default comment (top of invoice)</p>
	<md-input-container flex>
	<input type="text" ng-model="$root.Settings12thdoor.preference.invoicepref.defaultComm" >
</md-input-container>
</div>
</md-list-item>

<md-list-item>
<div layout="column" flex>
	<p>Default note (bottom of invoice)</p>
	<md-input-container flex>
	<textarea ng-model="$root.Settings12thdoor.preference.invoicepref.defaultNote" columns="1" md-maxlength="150"></textarea>
</md-input-container>
</div>
</md-list-item>

<md-divider></md-divider>

<md-list-item style="margin-bottom: 13px;">
<div layout="column" flex>
	<p>Bank details for offline payments</p>
	<div style="margin-top: -14px; margin-left:0px;">
		<md-checkbox ng-model="$root.Settings12thdoor.preference.invoicepref.displayOnInvoiceStatus" aria-label="Checkbox 1" style="color: rgba(0,0,0,0.54);">Display on invoice</md-checkbox>
	</div>
	<div layout="row" flex>
		<md-input-container flex>
		<textarea name="offlinePayments" ng-model="$root.Settings12thdoor.preference.invoicepref.offlinePayments" columns="1" md-maxlength="150" required></textarea>
		<div ng-messages="editForm1.offlinePayments.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
</div>
</div>
</md-list-item>

<md-divider></md-divider>

<md-list-item style="padding: 0px 15px;">
<p>New Invoice Email</p>
<md-button class="md-primary" ng-click="newinvoiceemail($event)">
Edit
</md-button>
</md-list-item>

<md-list-item style="padding: 0px 15px;">
<p>Payment Recept Email</p>
<md-button class="md-primary" ng-click="">
Edit
</md-button>
</md-list-item>

<md-list-item style="padding: 0px 15px;">
<p>Payment Reminder Email</p>
<md-button class="md-primary" ng-click="">
Edit
</md-button>
</md-list-item>

<md-divider></md-divider>

<md-list-item style="margin-top:9px;">
<p>Recurring Invoices Default Action</p>
<md-input-container flex="30">
<md-select ng-model="$root.Settings12thdoor.preference.invoicepref.recurringInvoiceDefultAction">
<md-option>Save invoice as pending</md-option>
<md-option>Save and email customer</md-option>
<md-option>Save email and charge customer</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-list-item style="margin-bottom: 18px;" >
<div layout="column" flex>
	<p>Generate invoice prior to bill date in days</p>
	<p style="margin-top: -15px; color: rgba(0,0,0,0.54); font-size:13px;">Invoice can be automatically generated a couple of days prior for review.</br> Enter 0 to generate on actual bill date</p>
</div>
<md-input-container flex="30" md-no-float class="md-block">
<input type="text" ng-model="$root.Settings12thdoor.preference.invoicepref.billdateindays">
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Custom Fields</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.invoicepref.CusFiel" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.labelshown}}
						<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.type}}
						<md-tooltip md-direction="right">Fields Type</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editinvoicecusFieldsrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deleteinvoicecusfieldsrow(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addcusfieldsInvoice($event)">
	Add custom fields
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addcusfieldsInvoice($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addcusfieldsInvoice($event)">Add custom fields</md-button>
<p></p>
</md-list-item>
<md-divider></md-divider>

<md-list-item>
<div layout="column" flex>
	<p>Email customer upon saving invoice</p>
</div>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.emailcustomeruponsavinginvoice" ng-init="$root.Settings12thdoor.preference.invoicepref.emailcustomeruponsavinginvoice=true"  aria-label="Switch 1">
</md-switch>
</md-list-item>
<md-list-item ng-show="$root.Settings12thdoor.preference.invoicepref.emailcustomeruponsavinginvoice"><!-- when disscount enable this input Display -->
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.preference.invoicepref.emailcustomeroption">
<md-option>Display pop up and prompt</md-option>
<md-option>Send email in background</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<md-list-item>
<p>Add stock for cancelled, deleted invoices including credit notes</p>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.addstockcancelOrdeleteinvoiceincluCreditnote">
</md-switch>
</md-list-item>

<md-list-item>
<div layout="column" flex>
	<p>Include account statement with invoice</p>
</div>
<md-switch class="md-primary" ng-model="$root.Settings12thdoor.preference.invoicepref.includeaccountstatementwithinvoice" aria-label="Switch 1">
</md-switch>
</md-list-item>

<md-list-item>
<div layout="column" flex>
	<p>billing frequency</p>
</div>
<md-input-container flex="30">
<md-select ng-model="$root.Settings12thdoor.preference.invoicepref.billingFrequency">
<md-option>Weekly</md-option>
<md-option>2 Weeks</md-option>
<md-option>4 Weeks</md-option>
<md-option>Monthly</md-option>
<md-option>2 Months</md-option>
<md-option>3 Months</md-option>
<md-option>6 Months</md-option>
<md-option>Yearly</md-option>
<md-option>2 Years</md-option>
<md-option>3 Years</md-option>
</md-select>
</md-input-container>
</md-list-item>
<!-- <md-list-item class="md-primary" ng-click="submit()" ng-disabled="editForm.$invalid">
<div layout="row" layout-align="center center" flex>
	<div>Submit</div>
	<md-button class="md-primary md-raised" ng-disabled="editForm.$invalid">Submit</md-button>
</div>
</md-list-item> -->
</md-list>
</form>
</md-content>