<form id="form" name="editForm">
	<md-content style="overflow:hidden;">
	<md-divider></md-divider>
	<md-list style="margin-top: 20px;">
	
	<div layout-gt-sm="column" style="padding:0px 0px 10px;">
		<div flex style="padding: 4px 10px 0px;"><p>Units Of Measure</p></div>
		<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
			<div ng-repeat="item in $root.Settings12thdoor.preference.productpref.units" as-sortable-item flex>
				<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'"style="padding:5px;" as-sortable-item-handle flex>
				<md-card-content>
				<div layout="row">
					<div flex>
						<span style="color:#808080;font-size:15px;">{{item.unitsOfMeasurement}}
							<md-tooltip md-direction="right">Unit Of Measure</md-tooltip>
						</span>
					</div>
					<div flex>
						<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
						<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
						<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
					</md-button>
					<md-menu-content width="4">
					<md-menu-item>
					<md-button ng-click="editunitsrow(item , $event)">
					<p>Edit</p>
					<md-icon md-menu-align-target ></md-icon>
				</md-button>
			</md-menu-item>
			<md-menu-item>
			<md-button ng-click="deleteUnits(item, $index)">
			<p>Delete</p>
			<md-icon md-menu-align-target ></md-icon>
		</md-button>
	</md-menu-item>
	<md-menu-item>
	<md-button ng-click="inactivateUnitsOfMeasure(item)">
	<p>{{inactivateUnitsOfMeasurelabel}}</p>
	<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addUnits($event)">
	Add Units Of Measure
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addUnits($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addUnits($event)">Add Units Of Measure</md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Product Brands</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.productpref.Productbrands" as-sortable-item flex>
			<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.productbrand}}
						<md-tooltip md-direction="right">Product Brand</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editproductBrandrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deleteproductBrand(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="inactivateproductbrand(item)">
<p>{{inactivateproductbrandlabel}}</p>
<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addProductbrand($event)">
	Add Product Brands
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addProductbrand($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addProductbrand($event)">Add Product Brands</md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Product Categories</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.productpref.Productcategories" as-sortable-item flex>
			<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.productcategory}}
						<md-tooltip md-direction="right">Product Category</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editProductcaterow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deleteProductcaterow(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="inactivateproductcate(item, $index)">
<p>{{inactivateproductcatelabel}}</p>
<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addProductcategory($event)">
	Add Product Categories
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addProductcategory($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" nng-click="addProductcategory($event)">Add Product Categories</md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Custom Fields</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.productpref.CusFiel" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.labelshown}}
						<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.type}}
						<md-tooltip md-direction="right">Fields Type</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editcusFieldsproductrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deletcusfieldsproduct(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addcusfieldsProduct($event)">
	Add custom fields
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addcusfieldsProduct($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addcusfieldsProduct($event)" >Add custom fields</md-button>
<p></p>
</md-list-item>
</md-list>
</md-content>
</form>