<form id="form" name="editForm">
	<md-content style="overflow:hidden;">
	<md-divider></md-divider>
	<md-list style="margin-top: 20px; margin-bottom: 20px;">

	<md-list-item>
	<p>Default Billing Method</p>
	<md-input-container flex="40">
	<md-select ng-model="$root.Settings12thdoor.preference.project.defaultbillingmethod" placeholder="Default Billing Method">
	<md-option>Hourly Staff Rate</md-option>
	<md-option>Hourly Task Rate</md-option>
	<md-option>Hourly Project Rate</md-option>
	<md-option>Hourly Project Amount</md-option>
</md-select>
</md-input-container>
</md-list-item>

<md-divider></md-divider>

<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div flex style="padding: 4px 10px 0px;"><p>Tasks</p></div>
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.preference.project.task" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.task}}
						<md-tooltip md-direction="right">Task</md-tooltip>
					</span>
				</div>
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.rate}}
						<md-tooltip md-direction="right">Hourly Rate</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="edittaskProjectrow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deletetaskProject(item, $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="jhg(item, $index)">
<p>Inactivate</p>
<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addtaskProject($event)">
	Add Tasks
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addtaskProject($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addtaskProject($event)">Add Tasks</md-button>
<p></p>
</md-list-item>

<md-divider></md-divider>

<md-list-item>
<p>Billing Customer Default</p>
<md-input-container flex="40">
<md-select ng-model="$root.Settings12thdoor.preference.project.billingcustomerdefault" placeholder="Billing Customer Default">
<md-option>Individual Items</md-option>
<md-option>Merge all as one line item</md-option>
</md-select>
</md-input-container>
</md-list-item>

</md-list>
</md-content>
</form>