<div>
	<form id="form" name="editForm" style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084)">
		<md-content style="overflow:hidden;">
		<md-divider></md-divider>
		<md-list style="margin-top: 20px;">

		<div layout="row" style="margin-left:9px;width:750px;">
			<div flex="5"><img src="/img/material_alperbert/avatar_tile_i_28.png" style="border-radius:20px"></div>
			<div flex layout="row" layout-align="start center">
				<label style="font-weight:700">Individual Taxes</label>
			</div>
		</div>


		<div layout-gt-sm="column" style="padding:0px 0px 10px;">
			<div as-sortable="sortable-container.sortableOptions" ng-model="$root.Settings12thdoor.taxes.individualtaxes" flex="100">
				<div ng-repeat="item in $root.Settings12thdoor.taxes.individualtaxes" as-sortable-item flex>
					<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" style="padding:5px;" as-sortable-item-handle flex>
					<md-card-content>
					<div layout="row">
						<div flex>
							<span style="color:#808080;font-size:15px;">{{item.taxName}}
								<md-tooltip md-direction="right">Tax Name</md-tooltip>
							</span>
						</div>
						<div flex>
							<span style="color:#808080;font-size:15px;">{{item.rate}}%
								<md-tooltip md-direction="right">Rate %</md-tooltip>
							</span>
						</div>
						<div flex="10" ng-if="!item.compound">
						</div>
						<div flex="10" ng-if="item.compound">
							<md-icon md-svg-src="img/ic_add_circle_24px.svg" style="color:#7BD97B;">
							<md-tooltip md-direction="right">Compound</md-tooltip>
						</div>
						<div flex>
							<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
							<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
							<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
						</md-button>
						<md-menu-content width="4">
						<md-menu-item>
						<md-button ng-click="editindividualtaxesrow(item , $event)">
						<p>Edit</p>
						<md-icon md-menu-align-target ></md-icon>
					</md-button>
				</md-menu-item>
				<md-menu-item>
				<md-button ng-click="deletindividualtaxes(item, $index)">
				<p>Delete</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="inactivateindividualtaxes(item)">
		<p>{{item.labelIndividualTaxStatus}}</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
</div>
<md-list-item class="secondary-button-padding" ng-click="addindividualtaxes($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addindividualtaxes($event)" >Add Tax</md-button>
<p></p>
</md-list-item>
<md-divider></md-divider>

<!-- <div layout-gt-sm="row">
	<section-title title="Multiple Tax Groups"></section-title>
</div> -->
<div layout="row" style="margin-left:9px;width:750px; margin-top:20px;">
	<div flex="5"><img src="/img/material_alperbert/avatar_tile_m_28.png" style="border-radius:20px"></div>
	<div flex layout="row" layout-align="start center">
		<label style="font-weight:700">Multiple Tax Groups</label>
	</div>
</div>
<div layout-gt-sm="column" style="padding:0px 0px 10px;">
	<div as-sortable="sortableOptions" ng-model="ads" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.taxes.multipletaxgroup" as-sortable-item flex>
			<md-card class="add-mdcard" ng-class="item.activate ? '' : 'inactivate'" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.taxname}}
						<md-tooltip md-direction="right">Multiple Tax Groups Name</md-tooltip>
					</span>
				</div>
				<div flex>
					<span ng-repeat="t in item.individualtaxes" style="color:#808080;font-size:15px;">{{t.taxname}}({{t.rate}}%)
						<md-tooltip md-direction="right">Individual Taxes</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editmultipletaxgrouprow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
		<md-menu-item>
		<md-button ng-click="deletmultipletaxgroup(item , $index)">
		<p>Delete</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="inactivatemultipletax(item)">
<p>{{item.labelMultipleTaxStatus}}</p>
<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
	<md-button  class="md-raised" ng-click="addmultipletaxgroup($event)">
	Add Group Tax
</md-button>
</div> -->
</div>
<md-list-item class="secondary-button-padding" ng-click="addmultipletaxgroup($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="addmultipletaxgroup($event)">Add Group Tax</md-button>
<p></p>
</md-list-item>
</md-list>
</md-content>
</form>
</div>
<!-- 
<div class="lock-size" layout="row">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
	ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
	<md-fab-trigger>
	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="submit()">
	<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
</md-button>
</md-fab-trigger>
<md-fab-actions>
</md-fab-actions>
</md-fab-speed-dial>
</div>
-->




