
<div>
	<form id="form" name="editForm" style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084)">
		<md-content >
		<div layout="row" style="margin-left:9px;margin-top:20px;margin-bottom:10px;width:750px;">
			<div flex="5"><img src="/img/material_alperbert/avatar_tile_i_28.png" style="border-radius:20px"></div>
			<div flex layout="row" layout-align="start center">
				<label style="font-weight:700">Invoice Templates</label>
			</div>
		</div>
		<div layout="row" layout-sm="column" flex style="margin-bottom:40px;">
			<div flex layout="row" layout-align="center center">
				<md-card style="width:260px;">
				<div class="SearchCard">
					<div id="SearchCardSub"></div>
					<div>
						<img ng-src="img/template/Clean_12.PNG" class="md-card-image" alt="Washed Out">
					</div>
				</div>
				<md-card-content style="border-top:1px solid #E5E5E5;">
				<div layout="row" layout-align="center center">
					<p>Standard 12 Theme</p>
				</div>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="center center">
				<md-button ng-click="activetemplate1()" class="md-primary" style="font-size:12px;">{{activetemplateinactivate1}}</md-button>|
				<md-button class="md-primary" style="font-size:12px;">Edit</md-button>
			</div>
		</md-card>
	</div>
	<div flex layout="row" layout-align="center center">
		<md-card  style="width:260px;">
		<div class="SearchCard">
			<div id="SearchCardSub1"></div>
			<div>
				<img ng-src="img/template/Clean_12.PNG" class="md-card-image" alt="Washed Out">
			</div>
		</div>
		<md-card-content style="border-top:1px solid #E5E5E5;">
		<div layout="row" layout-align="center center">
			<p>Clean Theme</p>
		</div>
	</md-card-content>
	<div class="md-actions" layout="row" layout-align="center center">
		<md-button class="md-primary" style="font-size:12px;" ng-click="activetemplate2()">{{activetemplateinactivate2}}</md-button>|
		<md-button class="md-primary" style="font-size:12px;">Edit</md-button>
	</div>
</md-card>
</div>
<div flex layout="row" layout-align="center center">
	<md-card  style="width:260px;">
	<div class="SearchCard">
		<div id="SearchCardSub2"></div>
		<div>
			<img ng-src="img/template/Clean_12.PNG" class="md-card-image" alt="Washed Out">
		</div>
	</div>
	<md-card-content style="border-top:1px solid #E5E5E5;">
	<div layout="row" layout-align="center center">
		<p>Corporate 12 Theme</p>
	</div>
</md-card-content>
<div class="md-actions" layout="row" layout-align="center center">
	<md-button class="md-primary" style="font-size:12px;" ng-click="activetemplate3()">{{activetemplateinactivate3}}</md-button>|
	<md-button class="md-primary" style="font-size:12px;">Edit</md-button>
</div>
</md-card>
</div>
</div>
<md-divider></md-divider>
<div layout="row" style="margin-left:9px;margin-top:20px;margin-bottom:10px;width:750px;">
	<div flex="5"><img src="/img/material_alperbert/avatar_tile_e_28.png" style="border-radius:20px"></div>
	<div flex layout="row" layout-align="start center">
		<label style="font-weight:700">Estimate Templates</label>
	</div>
</div>
<div layout="row" layout-sm="column" flex style="margin-bottom: 40px;">
	<div flex layout="row" layout-align="center center">
		<md-card style="width: 260px;">
		<img ng-src="img/template/Clean_12.PNG" class="md-card-image" alt="Washed Out">
		<md-card-content style="border-top:1px solid #E5E5E5;">
		<div layout="row" layout-align="center center">
			<p>Standard 12 Theme</p>
		</div>
	</md-card-content>
	<div class="md-actions" layout="row" layout-align="center center">
		<md-button class="md-primary" style="font-size:12px;">Activate</md-button>|
		<md-button class="md-primary" style="font-size:12px;">Edit</md-button>
	</div>
</md-card>
</div>
<div flex  layout="row" layout-align="center center">
	<md-card style="width: 260px;">
	<img ng-src="img/template/Clean_12.PNG" class="md-card-image" alt="Washed Out">
	<md-card-content style="border-top:1px solid #E5E5E5;">
	<div layout="row" layout-align="center center">
		<p>Clean Theme</p>
	</div>
</md-card-content>
<div class="md-actions" layout="row" layout-align="center center">
	<md-button class="md-primary" style="font-size:12px;">Activate</md-button>|
	<md-button class="md-primary" style="font-size:12px;">Edit</md-button>
</div>
</md-card>
</div>
<div flex layout="row" layout-align="center center">
	<md-card style="width:260px;">
	<img ng-src="img/template/Clean_12.PNG" class="md-card-image"  alt="Washed Out">
	<md-card-content style="border-top:1px solid #E5E5E5;">
	<div layout="row" layout-align="center center">
		<p>Corporate 12 Theme</p>
	</div>
</md-card-content>
<div class="md-actions" layout="row" layout-align="center center">
	<md-button class="md-primary" style="font-size:12px;">Activate</md-button>|
	<md-button class="md-primary" style="font-size:12px;">Edit</md-button>
</div>
</md-card>
</div>
</div>
</md-content>
</form>
</div>





