<div>
	<form id="form" name="editForm" style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084)">
		<md-content>
		<div layout="row" style="margin-left:9px;margin-top:20px;margin-bottom:10px;width:750px;">
			<div flex="5"><img src="/img/material_alperbert/avatar_tile_p_28.png" style="border-radius:20px"></div>
			<div flex layout="row" layout-align="start center">
				<label style="font-weight:700">Payment Gateways</label>
			</div>
		</div>

		<div layout="row" layout-wrap>
			<div layout layout-sm="row" layout-margin layout-wrap layout-align="center center">
				<md-card  ng-repeat="onlinePay in pay" style="width:280px;">
				<div class="SearchCard">
					<div id="{{onlinePay.name}}" ng-class="{'tintImage': onlinePay.activate == true}"></div>
					<div >
						<img ng-src="{{onlinePay.url}}" class="md-card-image" alt="Washed Out">
					</div>
				</div>
				<md-card-content style="border-top:1px solid #E5E5E5;">
			</md-card-content>
			<div class="md-actions" layout="row">
				<div flex layout="row" layout-align="end center">
					<md-button class="md-primary" style="font-size:12px;" ng-click="activepayment1(onlinePay)">{{onlinePay.label}}</md-button>
				</div>
				<div flex="40" layout="row" layout-align="end center">
					<md-button class="md-icon-button">
					<md-icon md-svg-icon="img/ic_edit_24px.svg"></md-icon>
				</md-button>
			</div>

		</div>
	</md-card>
</div>
</div>
</md-content>
</form>
</div>

<!-- <div class="lock-size" layout="row">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
	ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
	<md-fab-trigger>
	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="submit()">
	<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;"></md-icon>
</md-button>
</md-fab-trigger>
<md-fab-actions>
</md-fab-actions>
</md-fab-speed-dial>
</div> -->





