
<div style="margin-bottom:20px;">
	<form id="form" name="editForm" style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084)">
		<md-content style="overflow:hidden;">
		<md-divider></md-divider>
		<md-list style="margin-top: 20px;">

		<div layout-gt-sm="row" style="margin-left:9px;">
			<div flex="5"><img src="/img/material_alperbert/avatar_tile_u_28.png" style="border-radius:20px"></div>
			<div flex layout="row" layout-align="start center">
				<label style="font-weight:700">Users</label>
			</div>
		</div>

		<div layout-gt-sm="column" style="padding: 0px 0px 10px;">
			<!--			<div as-sortable="sortableOptions" ng-model="asdc" flex="100">-->
			<!--				<div ng-repeat="item in " as-sortable-item flex>-->
			<!--					<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>-->
			<!--					<md-card-content>-->
			<!--					<div layout="row">-->
			<!--						<div flex>-->
			<!--							<span style="color:#808080;font-size:15px;">{{item.labelshown}}-->
			<!--								<md-tooltip md-direction="right">Custom Fields name</md-tooltip>-->
			<!--							</span>-->
			<!--						</div>-->
			<!--						<div flex>-->
			<!--							<span style="color:#808080;font-size:15px;">{{item.type}}-->
			<!--								<md-tooltip md-direction="right">Fields Type</md-tooltip>-->
			<!--							</span>-->
			<!--						</div>-->
			<!--						<div flex>-->
			<!--							<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">-->
			<!--							<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">-->
			<!--							<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>-->
			<!--						</md-button>-->
			<!--						<md-menu-content width="4">-->
			<!--						<md-menu-item>-->
			<!--						<md-button ng-click="(item , $event)">-->
			<!--						<p>Edit</p>-->
			<!--						<md-icon md-menu-align-target ></md-icon>-->
			<!--					</md-button>-->
			<!--				</md-menu-item>-->
			<!--				<md-menu-item>-->
			<!--				<md-button ng-click="(item, $index)">-->
			<!--				<p>Delete</p>-->
			<!--				<md-icon md-menu-align-target ></md-icon>-->
			<!--			</md-button>-->
			<!--		</md-menu-item>-->
			<!--	</md-menu-content>-->
			<!--</md-menu>-->
			<!--</div>-->
			<!--</div>-->
			<!--</md-card-content>-->
			<!--</md-card>-->
			<!--</div>-->
			<!--</div>-->
			<!-- <div layout-gt-sm="row" layout-align="start start" style="padding: 10px 9px 0px;">
				<md-button  class="md-raised" ng-click="user($event)">
				Add User
			</md-button>
		</div> -->
	</div>
	<md-list-item class="secondary-button-padding" ng-click="user($event)">
	<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="user($event)">Add User</md-button>
	<p></p>
</md-list-item>

<md-divider></md-divider><!-- <md-divider style="margin-top:21px;"></md-divider> -->

<div layout-gt-sm="row" style="margin-left:9px; width:750px; margin-top:20px;">
	<div flex="5"><img src="/img/material_alperbert/avatar_tile_r_28.png" style="border-radius:20px"></div>
	<div flex layout="row" layout-align="start center">
		<label style="font-weight:700">Roles</label>
	</div>
</div>

<div layout-gt-sm="column" style="padding: 0px 0px 10px;">
	<div as-sortable="sortableOptions" ng-model="asdc" flex="100">
		<div ng-repeat="item in $root.Settings12thdoor.users.roles | filter: {type: 'default'}" as-sortable-item flex>
			<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
			<md-card-content>
			<div layout="row">
				<div flex>
					<span style="color:#808080;font-size:15px;">{{item.rolename}}
						<md-tooltip md-direction="right">Role Name</md-tooltip>
					</span>
				</div>
				<div flex>
					<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
					<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
					<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
				</md-button>
				<md-menu-content width="4">
				<md-menu-item>
				<md-button ng-click="editrolerow(item , $event)">
				<p>Edit</p>
				<md-icon md-menu-align-target ></md-icon>
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>  <!-- EXIT Default role -->

<div ng-repeat="item in $root.Settings12thdoor.users.roles | filter: {type: 'manual'}" as-sortable-item flex>
	<md-card class="add-mdcard" style="padding:5px;" as-sortable-item-handle flex>
	<md-card-content>
	<div layout="row">
		<div flex>
			<span style="color:#808080;font-size:15px;">{{item.rolename}}
				<md-tooltip md-direction="right">Custom Fields name</md-tooltip>
			</span>
		</div>
		<div flex>
			<md-menu md-position-mode="target-right target" layout="row" layout-align="end end" flex-sm="100" style="margin:-16px 0px -32px;">
			<md-button href aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
			<md-icon md-menu-origin  md-svg-src="img/ic_more_horiz_24px.svg"></md-icon>
		</md-button>
		<md-menu-content width="4">
		<md-menu-item>
		<md-button ng-click="editrolerow(item , $event)">
		<p>Edit</p>
		<md-icon md-menu-align-target ></md-icon>
	</md-button>
</md-menu-item>
<md-menu-item>
<md-button ng-click="deleteinvoicecusfieldsrow(item, $index)">
<p>Delete</p>
<md-icon md-menu-align-target ></md-icon>
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
</div>
</md-card-content>
</md-card>
</div>
</div>
</div>
<md-list-item class="secondary-button-padding" ng-click="roles($event)">
<md-button class="md-secondary md-primary" style="left:10px; right:0px;" ng-click="roles($event)">Add Role</md-button>
<p></p>
</md-list-item>
</md-list>
</md-content>
</form>
</div>

<!-- <div class="lock-size" layout="row">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
	ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
	<md-fab-trigger>
	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="submit()">
	<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;"></md-icon>
</md-button>
</md-fab-trigger>
<md-fab-actions>
</md-fab-actions>
</md-fab-speed-dial>
</div> -->





