
<md-dialog aria-label="Mango (Fruit)" style="width:800px;">
<div class="card-container" style="padding:20px; overflow-y:auto; overflow-x:hidden;">
	<form style="width:100%;">
		<md-content flex style="margin-top: 30px;">
		<div layout layout-sm="column" layout-margin>
			<div flex="5" layout="row" layout-align="start center">
				<img src="img/material alperbert/avatar_tile_i_28.png" style="border-radius:20px"/>
			</div>
			<div flex="20" layout="row" layout-align="start center">
				<label style="font-weight:700">Invite User</label>
			</div>
			<md-input-container flex="30" layout="row" layout-align="start center">
			<label>Email</label>
			<input ng-model="jhjg">
		</md-input-container>
		<div flex="20" layout="row" layout-align="start center">
			<md-button class="md-primary" style="font-size:12px;" >
			Resend Invite
		</md-button>
	</div>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex="30">
	<label>First Name</label>
	<input ng-model="jhjg23">
</md-input-container>
<md-input-container flex>
<label>Last Name</label>
<input ng-model="jhjg">
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<md-input-container flex>
	<label>Role</label>
	<md-select ng-model="ctrl.userState">
	<md-option ng-repeat="roles in $root.Settings12thdoor.users.roles" value="{{roles.rolename}}" selected="roles[0].rolename">{{roles.rolename}}</md-option>
</md-select>
</md-input-container>
</div>
<div layout layout-sm="column" layout-margin>
	<div flex="5" hide-sm>	
	</div>
	<div flex="20" hide-sm>
	</div>
	<div flex>
		<span style="color: #A2A1A1; font-size: 15px;">An invite email with instructions will be sent to the new user</span>
	</div>
</div>
<md-divider></md-divider>
</md-content>
</form>
</div>
<div class="md-actions" layout="row">
	<span flex></span>
	<md-button ng-click="cancel()" style="margin-right:20px;">
	Cancel
</md-button>
<md-button ng-click="submit()" >
Add
</md-button>
</div>
</md-dialog>